body{

    background-image: url("https://imgs.search.brave.com/Kh-efGxSbg6xbMR2cTvp2y2ajqEfgce7zzLkVfQXbGo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTU1/Mjc3NTc1L3Bob3Rv/L2dydW5nZS1iYWNr/Z3JvdW5kLndlYnA_/Yj0xJnM9MTcwNjY3/YSZ3PTAmaz0yMCZj/PXhIWklBWWdCVF81/TGFJemdrdzl0Wkpy/MUVwQ2lFM0xySlFI/SktZZE00Snc9");
    ;
}
h1{
    color: black;
    margin: right 20px; ;
}